In [108]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
df = pd.read_csv("iris.csv")
df.head()

   No  Petal_width  Petal_length  Sepal_width  Sepal_length Species_name
0   1          0.2           1.4          3.5           5.1       Setosa
1   2          0.2           1.4          3.0           4.9       Setosa
2   3          0.2           1.3          3.2           4.7       Setosa
3   4          0.2           1.5          3.1           4.6       Setosa
4   5          0.2           1.4          3.6           5.0       Setosa

In [109]:
#blok 2
df.drop(['No','Sepal_length'],axis='columns',inplace=True)
df.head()

   Petal_width  Petal_length  Sepal_width Species_name
0          0.2           1.4          3.5       Setosa
1          0.2           1.4          3.0       Setosa
2          0.2           1.3          3.2       Setosa
3          0.2           1.5          3.1       Setosa
4          0.2           1.4          3.6       Setosa

In [110]:
#blok 3
inputs = df.drop('Species_name',axis='columns')
target = df.Species_name
# inputs.head()

In [111]:
# #blok 4
# dummies = pd.get_dummies(target)
# dummies

In [112]:
# #blok 5
# inputs = pd.concat([inputs,dummies],axis='columns')
# inputs.head(3)

In [113]:
# #blok 6
# inputs.drop(['Sex','male'],axis='columns',inplace=True)
# inputs.head(3)

In [114]:
#blok 7
inputs.columns[inputs.isna().any()]

Index([], dtype='object')

In [115]:
# #blok 8
# inputs.Age[:20]

In [116]:
# #blok 9
# inputs.Age = inputs.Age.fillna(inputs.Age.mean())
# inputs.head()

In [122]:
#blok 10
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [123]:
#blok 11
model = GaussianNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8666666666666667

In [119]:
#blok 12
X_test[0:10]

     Petal_width  Petal_length  Sepal_width
137          0.2           1.4          3.2
108          1.5           4.5          2.2
57           2.1           5.5          3.0
10           0.2           1.5          3.7
105          1.4           4.4          3.1
94           1.5           4.6          2.8
124          1.5           4.5          3.0
122          1.2           3.9          2.7
13           0.1           1.1          3.0
90           1.4           4.7          3.2

In [100]:
#blok 13
y_test[0:10]

33         Setosa
125    Versicolor
137       unknown
114    Versicolor
59      Verginica
101    Versicolor
62      Verginica
126    Versicolor
12         Setosa
115    Versicolor
Name: Species_name, dtype: object

In [101]:
#blok 14
model.predict(X_test[0:10])

array(['Setosa', 'Versicolor', 'Setosa', 'Versicolor', 'Verginica',
       'Versicolor', 'Verginica', 'Versicolor', 'Setosa', 'Versicolor'],
      dtype='<U10')

In [102]:
#blok 15
model.predict_proba(X_test[:10])

array([[9.99993231e-001, 2.64738392e-026, 1.36429927e-021,
        6.76862519e-006],
       [3.47983678e-110, 1.35771390e-001, 6.25766821e-001,
        2.38461788e-001],
       [9.99905976e-001, 4.51648835e-025, 2.00364183e-019,
        9.40235489e-005],
       [4.63500354e-091, 2.80701274e-003, 9.69111060e-001,
        2.80819270e-002],
       [4.15602629e-193, 9.04248599e-001, 1.15596348e-006,
        9.57502450e-002],
       [9.77999199e-092, 6.72666181e-003, 9.30248368e-001,
        6.30249698e-002],
       [2.94040741e-311, 9.98570327e-001, 4.02866549e-013,
        1.42967261e-003],
       [1.09421312e-120, 2.79155755e-001, 6.53378506e-001,
        6.74657388e-002],
       [9.99629658e-001, 2.57758701e-025, 1.20037882e-019,
        3.70341904e-004],
       [1.50228818e-100, 2.17719970e-002, 9.39218467e-001,
        3.90095361e-002]])